#workout
   %h2 Workout
   %b Date
   %p= @workout.date
   %b Workout 
   %p= @workout.workout
   %b Mood 
   %p= @workout.mood
   %b Workout 
   %p= @workout.length
#exercises 
   %h2 Exercises 
   = render @workout.exercises
   /%h3 Add an exercise
   /= render "exercises/form"
/= link_to "Back", root_path
/= link_to "Edit", edit_workout_path(@workout)  
/= link_to "Delete", workout_path(@workout), method: :delete