%html
%head
 %title Jobs
 = csrf_meta_tags
 = csp_meta_tag 
 = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' 
 = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' 
%body
 %nav.navbar.navbar-default
  .container
   .navbar-header
    = link_to "Workout Log", root_path, class: "navbar-brand"
   .nav.navbar-nav.navbar-right
    - if current_user
     = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "navbar-brand"
    - else 
     = link_to "Logout", destroy_user_session_path, method: :delete, class: "navbar-brand"
 .container
 = yield  